In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme(style='whitegrid', font_scale=1.5)
sns.set_palette('Set2', n_colors=10)
plt.rc('font', family='malgun gothic')
plt.rc('axes', unicode_minus=False)

import streamlit as st
from datetime import date

In [2]:
month = pd.read_csv('공공자전거 성북구 월별 대여수 합계_전처리.csv')
time = pd.read_csv('서울특별시 공공자전거 시간대별 이용정보(192021)_전처리.csv', encoding='cp949')
accident1 = pd.read_csv('성북구 시간대별 가해운전자_전처리.csv')
accident2 = pd.read_csv('성북구 시간대별 피해운전자_전처리.csv',encoding='cp949')

In [3]:
time20 = pd.read_csv('서울특별시 공공자전거 이용정보(시간대별(2020)).csv')

In [5]:
del time20['Unnamed: 0']

In [7]:
df = time20

In [9]:
df = df.query("1300 <= 대여소번호 < 1400 or 4403 <= 대여소번호 <= 4415")
df['대여일자']= pd.to_datetime(df['대여일자'], format="%Y %m %d")
df['year'] = df['대여일자'].dt.year
df['month'] = df['대여일자'].dt.month
df['day'] = df['대여일자'].dt.day
df['성별'].replace('m', 'M', inplace = True)
df['성별'].replace('f', 'F', inplace = True)
df.to_csv('time21.csv', index=False)

2022-06-15 04:51:05.043 INFO    numexpr.utils: NumExpr defaulting to 4 threads.

In [13]:
df.to_csv('time20.csv', index=False)

In [14]:
df2 = pd.read_csv('time19.csv')

In [16]:
del df2['Unnamed: 0']
del df2['Unnamed: 0.1']

In [17]:
df = df2

In [18]:
df = df.query("1300 <= 대여소번호 < 1400 or 4403 <= 대여소번호 <= 4415")
df['대여일자']= pd.to_datetime(df['대여일자'], format="%Y %m %d")
df['year'] = df['대여일자'].dt.year
df['month'] = df['대여일자'].dt.month
df['day'] = df['대여일자'].dt.day
df['성별'].replace('m', 'M', inplace = True)
df['성별'].replace('f', 'F', inplace = True)

In [20]:
df.to_csv('time19.csv', index=False)

In [21]:
df1=pd.read_csv('서울특별시 공공자전거 이용정보(시간대별)_21.01.csv',encoding='cp949')
df4=pd.read_csv('서울특별시 공공자전거 이용정보(시간대별)_21.04.csv',encoding='cp949')
df5=pd.read_csv('서울특별시 공공자전거 이용정보(시간대별)_21.05.csv',encoding='cp949')
df6=pd.read_csv('서울특별시 공공자전거 이용정보(시간대별)_21.06.csv',encoding='cp949')
df7=pd.read_csv('서울특별시 공공자전거 이용정보(시간대별)_21.07.csv',encoding='cp949')
df8=pd.read_csv('서울특별시 공공자전거 이용정보(시간대별)_21.08.csv',encoding='cp949')
df9=pd.read_csv('서울특별시 공공자전거 이용정보(시간대별)_21.09.csv',encoding='cp949')
df10=pd.read_csv('서울특별시 공공자전거 이용정보(시간대별)_21.10.csv',encoding='cp949')
df11=pd.read_csv('서울특별시 공공자전거 이용정보(시간대별)_21.11.csv',encoding='cp949')
df12=pd.read_csv('서울특별시 공공자전거 이용정보(시간대별)_21.12.csv',encoding='cp949')

In [22]:
df = pd.concat([df1,df4,df5,df6,df7,df8,df9,df10,df11,df12])

In [23]:
df = df.query("1300 <= 대여소번호 < 1400 or 4403 <= 대여소번호 <= 4415")
df['대여일자']= pd.to_datetime(df['대여일자'], format="%Y %m %d")
df['year'] = df['대여일자'].dt.year
df['month'] = df['대여일자'].dt.month
df['day'] = df['대여일자'].dt.day
df['성별'].replace('m', 'M', inplace = True)
df['성별'].replace('f', 'F', inplace = True)
df.to_csv('time21.csv', index=False)

In [24]:
pd.read_csv('time21.csv')

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,year,month,day
0,2021-01-01,0,1347.0,1347. 길음래미안아파트817동 상가 앞,정기권,NaN,~10대,2.0,28.90,0.23,992.78,13,2021,1,1
1,2021-01-01,0,1349.0,1349. 월계2교 버스정류장 앞,정기권,NaN,~10대,1.0,34.38,0.26,1127.50,10,2021,1,1
2,2021-01-01,0,1347.0,1347. 길음래미안아파트817동 상가 앞,정기권,NaN,20대,1.0,11.24,0.07,283.72,1,2021,1,1
3,2021-01-01,0,1390.0,1390.석관래미안아트리치,정기권,NaN,20대,1.0,29.88,0.29,1257.62,20,2021,1,1
4,2021-01-01,0,1321.0,1321. 국민은행 종암동지점 앞,정기권,NaN,20대,1.0,0.00,0.00,0.00,20,2021,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580562,2021-12-31,23,1395.0,1395.래미안장위포레카운티(102동),일일권,M,20대,1.0,42.90,0.30,1289.73,13,2021,12,31
580563,2021-12-31,23,1319.0,1319. 종암사거리 분수대,일일권,M,20대,1.0,203.73,1.93,8297.71,36,2021,12,31
580564,2021-12-31,23,1328.0,1328. 월곡역 3번출구,정기권,F,20대,1.0,22.99,0.21,921.51,7,2021,12,31
580565,2021-12-31,23,1384.0,1384.성신여대입구역 5번출구,정기권,M,30대,1.0,330.15,2.76,11910.00,57,2021,12,31
580566,2021-12-31,23,1326.0,1326. 상월곡역 1번출구,정기권,M,30대,1.0,137.31,1.10,4750.00,26,2021,12,31

In [47]:
df = pd.read_csv('latlon.csv', encoding = 'cp949')

In [48]:
df

            대여소명         위도          경도
0   한성대입구역6번출구 뒤  37.588764  127.006310
1        돈암초교 입구  37.591694  127.012497
2           만해공원  37.594402  126.992310
3           성북구청  37.589329  127.016434
4     한성대입구역2번출구  37.588448  127.006706
..           ...        ...         ...
72      장곡초등학교 앞  37.617455  127.048447
73        돌곶이역 앞  37.611313  127.057594
74     동산어린이공원 앞  37.606239  127.034660
75     안암역 3번 출구  37.586250  127.030952
76     미아초교버스승강장  37.612080  127.021980

[77 rows x 3 columns]